@keyframes color-shift {
  0% {
    filter: hue-rotate(0deg) invert(0);
  }
  50% {
    filter: hue-rotate(180deg) invert(1);
  }
  100% {
    filter: hue-rotate(360deg) invert(0);
  }
}

.comments {
  width: 100%;
  min-height: 300px;
  padding: 10px;
  border: 2px solid var(--white);
  border-radius: 4px;
  background-color: var(--transparent-black);
}

.comments h1 {
  color: var(--white);
}

.comments .comment {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--gray);
}

.comments .comment h4 {
  color: var(--yellow);
}

.comments.is-loading {
  animation: color-shift 2s ease-in-out infinite;
}

.comments .error-text {
  color: var(--red);
}
