.comments {
  width: 100%;
  min-height: 300px;
  padding: 10px;
  border: 2px solid var(--white);
  border-radius: 4px;
  background-color: var(--transparent-black);
}

.comments h1 {
  color: var(--white);
}

.comments .comment {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 1px solid var(--yellow);
  margin-bottom: 10px;
}
